<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Ajouter Lot</ion-title>


    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <form #addUserForm="ngForm" (ngSubmit)="createLot(addUserForm)">

    <div class="form-outline mb-4">
      <ion-item>
        <ion-input type="text" name="titre" [(ngModel)]="titre" placeholder="LOT N°1" required></ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="description" [(ngModel)]="description" placeholder="La description" required>
        </ion-input>
      </ion-item>
    </div>



    <div class="form-outline mb-4">
      <ion-item>
        <ion-label>projet Titre</ion-label>
        <ion-select [(ngModel)]="projet" name="projet">
          <ion-select-option *ngFor="let projet of loadedProjet" [value]="projet.id">
            {{projet.titre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <div class="form-outline mb-4">
      <ion-item>
        <ion-label>ETAT</ion-label>
        <ion-select [(ngModel)]="etat" name="etat">
          <ion-select-option *ngFor="let etat of listEtat" [value]="etat.title">
            {{etat.title}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  <!-- obliger slectionnes date debut befor selectione date de fin  onchange  si slectionne afficher item date fin  -->
  <!-- when both of date debut et date fin selcete afficher la duree non mofiable  -->
    <div class="form-outline mb-4">
      <ion-item button="true" id="open-date-input">
        <ion-label>Date debut</ion-label>
        <ion-text slot="end"> {{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="date" (ionChange)="dateValue = formatDate1(popoverDatetime.value)">
              <ion-buttons slot="buttons">
                <ion-button (click)="confirm()">Good to go !</ion-button>
                <ion-button (click)="reset()">Rest</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
        </div>

        <div class="form-outline mb-4">
          <ion-item button="true" id="open-date-input1">
            <ion-label>Date Fin</ion-label>
            <ion-text slot="end"> {{ dateValue2 }}</ion-text>
            <ion-popover trigger="open-date-input1" show-backdrop="false">
              <ng-template>
                <ion-datetime #popoverDatetime2 presentation="date" [min]="dateValue"
                  (ionChange)="dateValue2 = formatDate2(popoverDatetime2.value)">
                  <ion-buttons slot="buttons">
                    <ion-button (click)="confirm()">Good to go !</ion-button>
                    <ion-button (click)="reset()">Rest</ion-button>
                  </ion-buttons>
                  
                </ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </div>
        
        <div class="form-outline mb-4">
          <ion-item>
            <ion-input type="number" name="duree" [(ngModel)]="duree" [placeholder]="dureeCalculer" required>
            </ion-input>
          </ion-item>
        </div>

    <div class="pt-1 mb-4">
      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!addUserForm.valid">Ajouter Lot</button>
    </div>


  </form>
</ion-content>