<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Update etat de realisation Lot</ion-title>


    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <form #addUserForm="ngForm" (ngSubmit)="UpdateEtatLot(addUserForm)">



    <!-- obliger slectionnes date debut befor selectione date de fin  onchange  si slectionne afficher item date fin  -->
    <!-- when both of date debut et date fin selcete afficher la duree non mofiable  -->
    <div class="form-outline mb-4">
      <ion-item button="true" id="open-date-input">
        <ion-label>Date De chengement</ion-label>
        <ion-text slot="end"> {{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate1(popoverDatetime.value)">
              <ion-buttons slot="buttons">
                <ion-button (click)="confirm()">Good to go !</ion-button>
                <ion-button (click)="reset()">Rest</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </div>

    <div class="form-outline mb-4">
      <ion-item>
        <ion-input type="number" name="percentage" [(ngModel)]="percentage" placeholder="65%" required>
        </ion-input>
      </ion-item>
    </div>

    <div class="pt-1 mb-4">
      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!addUserForm.valid">update Etat
        Lot</button>
    </div>


  </form>
</ion-content>