<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Ajouter Client</ion-title>


    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>



</ion-header>

<ion-content class="ion-padding">

  <form #addUserForm="ngForm" (ngSubmit)="addContact(addUserForm)">


    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="nom" [(ngModel)]="nom" placeholder="Nom" required></ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="prenom" [(ngModel)]="prenom" placeholder="Prénom" required></ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">
      <ion-item>
        <ion-label>Societe</ion-label>
        <ion-select [(ngModel)]="societe" name="societe">
          <ion-select-option *ngFor="let societe of loadedSociete" [value]="societe.id">
            {{societe.raisonSocial}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="fonction" [(ngModel)]="fonction" placeholder="Fonction" required></ion-input>
      </ion-item>
    </div>
    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="adress" [(ngModel)]="adress" placeholder="Adress" required></ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="telephone" [(ngModel)]="telephone" placeholder="Telephone" required>
        </ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
      </ion-item>
    </div>

    <div class="pt-1 mb-4">
      <button type="submit" class="btn btn-dark btn-lg btn-block">Ajouter Client</button>
    </div>


  </form>

</ion-content>