<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Ajouter Societe</ion-title>


    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="_dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>



</ion-header>

<ion-content class="ion-padding">

  <form #addSocieteForm="ngForm" (ngSubmit)="addSociete(addSocieteForm)">


    <div class="form-outline mb-4">
      <ion-item>
        <ion-input type="text" name="raisonSocial" [(ngModel)]="raisonSocial" placeholder="raison_social" required>
        </ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="adresse" [(ngModel)]="adresse" placeholder="adresse" required></ion-input>
      </ion-item>
    </div>
    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="mail" [(ngModel)]="mail" placeholder="Email" required></ion-input>
      </ion-item>
    </div>
    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="telephone" [(ngModel)]="telephone" placeholder="Telephone" required></ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">
      <ion-item>
        <ion-input type="text" name="description" [(ngModel)]="description" placeholder="Description" required>
        </ion-input>
      </ion-item>
    </div>

    <div class="form-outline mb-4">

      <ion-item>

        <ion-input type="text" name="fixe" [(ngModel)]="fixe" placeholder="Faxe" required></ion-input>
      </ion-item>
    </div>

    <div class="pt-1 mb-4">
      <button type="submit" class="btn btn-dark btn-lg btn-block">Ajouter Societe</button>
    </div>


  </form>

</ion-content>