<!-- <ion-content>
  <ion-list class="ion-margin ion-text-center">
    <ion-list-header>
      <ion-label>LOGO</ion-label>
    </ion-list-header>
    <ion-button color="white" expand="block" shape="round">Login with Username</ion-button>
    <ion-button color="white" expand="block" shape="round">Login with Google </ion-button>
    <ion-text>
      <p>New User? Sign up.</p>
    </ion-text>
  </ion-list>
  </ion-content>
   -->
<ion-content>
<div class="login-section ion-padding">
  <div class="heading ion-padding">
    <img src="assets/img/logo.PNG">
    <h1>Welcome Costumer !</h1>
    <P>Sign in to continue</P>
  </div>
  <form [formGroup]="LoginForm">
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email" [(ngModel)]="email"></ion-input>
        </ion-item>
    </div>
    <div>
      <ng-container *ngFor="let validation of validation_messages.titre ">
        <div
          *ngIf="LoginForm.get('email').hasError(validation.type) && (LoginForm.get('email').dirty || LoginForm.get('email').touched)">
          {{validation.message}}
        </div>
      </ng-container>
      </div>

  <div class="form-input">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  </div>
<div>
  <ng-container *ngFor="let validation of validation_messages.titre ">
    <div
      *ngIf="LoginForm.get('password').hasError(validation.type) && (LoginForm.get('password').dirty || LoginForm.get('password').touched)">
      {{validation.message}}
    </div>
  </ng-container>
</div>

</div>

<div class="action-buttons ion-padding">
  <ion-button type="submit" (click)="login()" size="large" class="login-button" [disabled]="!LoginForm.valid"> Log in
  </ion-button>
  <p>Forgot password ?</p>
</div>
</form>
</div>

<div class="Information-section ion-padding">
  <p>@2022 Alrim | Privacy policy |Legal</p>
</div>
</ion-content>



<!-- 
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col size="5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)">
              <div class="d-flex align-items-center mb-3 pb-1">
                <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                <span class="h1 fw-bold mb-0">Login</span>
              </div>
              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
              <div class="form-outline mb-4">
                <ion-item>

                  <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Enter Mail" required></ion-input>
                </ion-item>
              </div>
              <div class="form-outline mb-4">
                <ion-item>
                  <ion-input type="password" name="password" [(ngModel)]="password" placeholder="Enter password" required></ion-input>
                </ion-item>
              </div>
              <div class="pt-1 mb-4">
                <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>
              </div>
              <a class="small text-muted" href="#!">Forgot password?</a>
            </form>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->