<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Gestion des utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="custom-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>



</ion-header>

<ion-content>

  <ion-button id="trigger-button">Ajouter un Utilisateur</ion-button>
  
  <!--  -->
  <ion-modal trigger="trigger-button">
    <ng-template>
      <div class="card shadow-2-strong" style="border-radius: 1rem;" style="overflow-y: scroll;">
        <div class="card-body p-5 text-center">
          <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm)">
            <div class="d-flex align-items-center mb-3 pb-1">
              <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
              <span class="h4 fw-bold mb-0">Ajouter un Utilisateur </span>
            </div>
  
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="nom" [(ngModel)]="nom" placeholder="Nom" required></ion-input>
              </ion-item>
            </div>
  
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="prenom" [(ngModel)]="prenom" placeholder="Prénom" required></ion-input>
              </ion-item>
            </div>
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="fonction" [(ngModel)]="fonction" placeholder="Fonction" required></ion-input>
              </ion-item>
            </div>
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="adress" [(ngModel)]="adress" placeholder="Adress" required></ion-input>
              </ion-item>
            </div>
  
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="telephone" [(ngModel)]="telephone" placeholder="Telephone" required>
                </ion-input>
              </ion-item>
            </div>
  
            <div class="form-outline mb-4">
  
              <ion-item>
  
                <ion-input type="text" name="email" [(ngModel)]="email" placeholder="Email" required></ion-input>
              </ion-item>
            </div>
  
            <div class="pt-1 mb-4">
              <button type="submit" class="btn btn-dark btn-lg btn-block">Ajouter Utilisateur</button>
            </div>
  
  
          </form>
  
        </div>
      </div>
  
  
  
    </ng-template>
  </ion-modal>
  

</ion-content>