<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ">Espace Client</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="custom-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- do the stat -->
  <app-header [scrollArea]="myContent" [headerHeight]="170">
    <ion-grid [style.padding-bottom.px]="120 - newHeight"></ion-grid>
    <!-- class="popover" //  -->
    <ion-list class="popoverd" lines="none" [style.margin-top.px]="-120 - newHeight/2">
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <h1>
                <b>3</b>
                <ion-text class="ion-margin-start" color="primary">12%</ion-text>
                </h1>
              <p>Realisé</p>
              </ion-label>
              </ion-item>
              </ion-col>
        <ion-col size="4">
          <canvas #lineCanvas></canvas>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label class="ion-text-wrap ion-text-right">
              <h1>
                <ion-text class="ion-margin-start" color="primary">88%</ion-text>
                <b>19</b>
                </h1>
              <p>En Cours</p>
              </ion-label>
              </ion-item>
              </ion-col>
              </ion-row>
              </ion-list>
            </app-header>
            <div class="ion-padding" (ionChange)="segmentChanged($event)">
              <ion-segment mode="ios" [value]="segmentValue">
                <ion-segment-button value="1">
                  <ion-label>Realisé</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="2">
                  <ion-label>En Cours</ion-label>
                  </ion-segment-button>
                  </ion-segment>
            </div>

</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)" #myContent>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="none">
    <ion-item color="light">
      <ion-label class="heading">
        Detaille d'etat d'avencement de voter projet.
      </ion-label>
      <ion-button slot="end" fill=clear size="small">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item-group>
      <ion-item color="ion-padding-vertical popItem" *ngFor="let item of (segmentValue =='1') ? requests : donors">
        <ion-thumbnail slot="start">
          <div class="ion-text-center" *ngIf="segmentValue =='1'">
            <ion-text color="white">Fin</ion-text>
          </div>
          <p class="ion-text-center" [style.margin]="segmentValue =='1' ? '10px 0' : '20px 0'">
            <ion-text color="black"></ion-text>
          </p>
        </ion-thumbnail>
        <ion-label>
          <ion-note color="dark"><b>{{item?.titre}}</b></ion-note>
          <p class="ion-text-wrap ">{{item?.duree}}</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>