<!-- <ion-header>
  <ion-toolbar>
    <IonImg src={image.src} />
    <ion-title>Espace Client</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class=" ion-padding ion-text-center">

  <div class="logo">

    <img src="assets\icon\Alrim LOGO.jpg">
  </div>
  <div class="form">
    <ion-item lines='none'>
      <!-- <ion-label position="floating">Name</ion-label> -->
      <ion-input placeholder="Entre email"></ion-input>
    </ion-item>

<ion-item lines="none ">
  <!-- <ion-label position="floating">Name</ion-label> -->
  <ion-input placeholder="Password" type="password"></ion-input>
</ion-item>

<ion-button color="dark" expand="block">
  Login
</ion-button>
</div>

</ion-content>